@using Poc.Models
@{
    ViewData["Title"] = "Dashboard";
}

<div class="body">
    <div id="particles">
        <div id="tsparticles">
            <div class="d-flex justify-content-end">
                <div class="card-dash"></div>
            </div>
        </div>
    </div>
</div>