/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

footer {
  position: fixed;
  bottom: 0;
  z-index: 10;
  background: linear-gradient(transparent, #24234a, #0f0d40);
}

body {
  font-family: "Roboto", Arial, serif !important;
  height: 100vh;
  background: linear-gradient(#05032e, #0f0d40, #24234a);
  color: #fff;

  h1,
  p,
  .container {
    color: #fff;
  }
}

a.logo {
  width: 100px;
  height: 100px;
  background: url(../img/logo/logo_poc.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

div h1 {
  margin: 35px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 800;
}

div h2 {
  margin: 25px;
  font-size: 35px;
  line-height: 40px;
  font-weight: 700;
}

div h3 {
  margin: 15px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
}

.navbar {
  background: linear-gradient(#e8e7df, #fff);
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.btn.btn-primary {
  color: #fff;
  background-color: #24234a;
  border-color: #fff;
  min-width: 140px;
}

button.btn-primary:hover {
  background-color: #5670c7;
}

a.btn-primary:hover {
  background-color: #5670c7;
}

.close {
  border: none;
  background: transparent;
  font-size: 30px;
  line-height: 12px;
  color: #24234a;
}

.close:hover {
  filter: brightness(1.2);
  transition: all 0.3s ease;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: #24234a;
  border-color: #05032e;
}

.nav-link:hover {
  filter: brightness(1.1);
  transition: all 0.3s ease;
}

button.navbar-toggler:hover {
  display: flex;
  position: initial;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  min-height: 285px;
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border: 1px solid #24234a;
  background: radial-gradient(#fff, #e8e7df);
  z-index: 10;
}

.card-text {
  color: #24234a;
}

h3 a {
  text-decoration: none;
  color: #24234a;
}

a:hover,
a:active {
  text-decoration: none;
}

.input-erro {
  border: 2px solid #dc3545 !important;
}

i {
  font-size: 40px;
}

#particles {
  top: 120px;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.modal-header {
  justify-content: end;
}