<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poc</title>
    @* <link href="~/dist/main.css" rel="stylesheet" /> *@
    <script src="https://cdn.jsdelivr.net/npm/tsparticles@2/tsparticles.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    @* dev *@
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="overflow-x-hidden overflow-y-auto h-screen font-roboto">
    <!-- Header -->
    <header class="w-full bg-[#3A3A3A]">
        <div id="HeaderApp"></div>
    </header>

    <!-- Main Section -->
    <div id="ParticlesApp"></div>
    @await Html.PartialAsync("_Menu")
    @await Html.PartialAsync("_LoginButton")
    @await Html.PartialAsync("_FeedbackModal")
    <main> @RenderBody() </main>
    <footer class="fixed bottom-0 left-0 w-full text-center py-6 text-white bg-[#3A3A3A]">
        © 2025 MinhaMarca — Todos os direitos reservados
    </footer>

    @await RenderSectionAsync("Scripts", required: false)

    @* <script type="module" src="~/dist/main.bundle.js"></script> *@

    @* dev *@
    <script type="module" src="http://localhost:5173/@@vite/client"></script>
    <script type="module" src="http://localhost:5173/frontend/main.ts"></script>

</body>

</html>