@using Poc.Models

@model UsuarioModel
<div class="modal fade" role="modal" tabindex="-1" aria-labelledby="feedback-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="card-modal">
                    <form asp-action="NovoUsuario" method="post">
                        <div class="mb-3 card-text">
                            <label asp-for="Nome" class="form-label"></label>
                            <input asp-for="Nome" class="form-control" />
                        </div>
                        <div class="mb-3 card-text">
                            <label asp-for="NomeUsuario" class="form-label"> Nome do usuário </label>
                            <input asp-for="NomeUsuario" class="form-control" />
                        </div>

                        <div class="mb-3 card-text">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" class="form-control" type="email" />
                        </div>

                        <div class="mb-3 card-text">
                            <label asp-for="Senha" class="form-label"></label>
                            <input asp-for="Senha" class="form-control" type="password" />
                        </div>

                        <div class="py-2 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary">Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>