@using Poc.Models
@{
    ViewData["Title"] = "Login";
}

@model UsuarioModel
<div class="body">
    <div class="col-12">
        <div class="row py-4">
            <div class="offset-4 col-4 card">
                <h3 class="py-2 text-center">Login</h3>
                @* <span>Nome do usuário ou Email</span>
                <input>
                <span>Senha</span>
                <input> *@

                <form asp-action="Registrar" method="post">
                    <div class="mb-3">
                        <label asp-for="NomeUsuario" class="form-label"> Nome do usuário ou Email </label>
                        <input asp-for="NomeUsuario" class="form-control" type="text/email" />
                    </div>

                    <div class="mb-3">
                        <label asp-for="Senha" class="form-label"></label>
                        <input asp-for="Senha" class="form-control" type="password" />
                    </div>

                    <button type="submit" class="btn btn-primary">Registrar</button>
                </form>
            </div>
        </div>
        <div class="row text-center py-4">
            <h4>Novo Usuário?</h4>
            <a asp-area="" asp-controller="Login" asp-action="Registrar">Registrar-se</a>
        </div>
    </div>
</div>