@using Poc.Models
@{
    ViewData["Title"] = "Registrar";
}

@model UsuarioModel

<div class="body">
    <div class="col-12">
        <div class="row py-4">
            <h2> Registrar</h2>
            <div class="offset-4 col-4 card">
                <form asp-action="Registrar" method="post">
                    <div class="mb-3">
                        <label asp-for="Nome" class="form-label"></label>
                        <input asp-for="Nome" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="NomeUsuario" class="form-label"> Nome do usuário </label>
                        <input asp-for="NomeUsuario" class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" type="email" />
                    </div>

                    <div class="mb-3">
                        <label asp-for="Senha" class="form-label"></label>
                        <input asp-for="Senha" class="form-control" type="password" />
                    </div>

                    <button type="submit" class="btn btn-primary">Registrar</button>
                </form>
            </div>
        </div>
    </div>
</div>