@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    @apply bg-gray700 hover:bg-gradient-to-r hover:from-gray700 hover:to-gray500 border-2 border-gray600 shadow-xl rounded-xl transition-all duration-200 p-5 m-5;
}

.login-btn {
    @apply text-white text-center bg-gray500 border-gray600 w-[140px] px-4 py-2 rounded hover:bg-[#5670c7] transition-colors duration-200
}

@layer base {
    h1 {
        @apply text-white text-4xl font-bold mb-4;
    }

    h2 {
        @apply text-gray300 text-3xl font-semibold mb-3;
    }

    h3 {
        @apply text-white text-2xl font-medium mb-2;
    }

    p {
        @apply text-gray300 leading-relaxed;
    }

    a {
        @apply m-3
    }
}